<header>
    <nav>
        <a href="/">Tiptop</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/register">Register new user</a></li>
       </ul>
    </nav>
</header>